body{
    background-image: url("../images/background.jpg");
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    height: 100%;
    width: 100%;
}
.jumbo-center {
    background-color: black;
    color: skyblue;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.jumbotron{
    margin-top: 10px;
}
.train-card {
    margin: auto;
    background-color: rgb(194, 188, 188);
    font-weight: bold;
    padding: 10px;
}
.input-card {
    margin: auto;
    margin-top: 20px;
    background-color: grey;
    color: #9a1750;
    padding: 10px;
}
.form-input {
    font-weight: bold;
}
.card-title  {
    background-color: black;
    color: white;
    padding: 10px;
}
#submitBtn  {
    background-color: black;
}